

.container-clock {
    text-align: center;
    ;
}

.container-clock h1 {
    font-size: 1rem;
    font-weight: 1;
}

.container-clock p {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}